<section id="weather-list">
  <div class="container">
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder="Enter a city"
    />
    <button class="btn btn-primary">Get Now</button>

    <table class="table table-bordered table-striped">
      <tr>
        <th>Date</th>
        <th>Weather</th>
        <th>Temperature</th>
      </tr>

      <tr>
        <th>20/7</th>
        <th>Hot</th>
        <th>27</th>
      </tr>

      <tr>
        <th>20/7</th>
        <th>Hot</th>
        <th>27</th>
      </tr>
    </table>
  </div>
</section>
